page-register {

  .bottom_button {
    margin-top: 10%;
    width: 100px;
  }

  .ion-item {
    font-size: 1.45rem;
  }

  .p {
    font-size: 0.8rem;
  }

  .text-input {
    font-size: 1.4rem;
  }

  .img{
    font-size: 1.45rem;
  }

  #form{
    margin-bottom: 5%;
  }

  #avatar{
    width:15%;
    height: auto;
    float:left;
    margin-right: 5%;
  }

  #cancelbtn{
    border-color:grey;
    background-color: ghostwhite;
    border: 0.5px solid #808080;
  }

}
