<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mon Profil</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <div class="contenu">
    <ion-item>
      <ion-avatar item-start>
        <img src={{path}}>
      </ion-avatar>
      <ion-input [(ngModel)]="prenom" [disabled]="!modif"></ion-input>
      <ion-input [(ngModel)]="nom" [disabled]="!modif"></ion-input>

    </ion-item>
  <ion-item>
    <ion-textarea placeholder={{description}} [disabled]="!modif" [(ngModel)]="description" type="text" name="description" ></ion-textarea>
  </ion-item>

    <ion-input [(ngModel)]="mail"  [disabled]="!modif"></ion-input>

    <ion-list *ngIf="modif">
      <ion-list-header>To change your password:</ion-list-header>
      <ion-item >
       <ion-input placeholder="fill with your actual password"  [(ngModel)]="pass1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="fill with your new password" [(ngModel)]="pass2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="confirm your new password"  [(ngModel)]="pass3"></ion-input>
      </ion-item>
    </ion-list>
  </div>


  <button *ngIf="!modif" ion-button class="modif" (click)="modifier()">Modifier</button>
  <button *ngIf="modif" ion-button  (click)="cancel()">Annuler</button>
  <button *ngIf="modif" ion-button color="secondary" class="modif" (click)="modifierBack()">Valider</button>

  <ion-list>
    <ion-list-header>Mes Points Soumis</ion-list-header>
    <ion-item>Nombre de points d'intérêt soumis  <p> 100</p> </ion-item>
    <ion-item>Nombre de points d'intérêt acceptés <p> 100</p> </ion-item>
    <ion-item>Moyenne d'originalité <p> 4,2/5</p>  </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Mes Notes Soumises
    </ion-list-header>
    <ion-item>Nombre de notes données <p> 100</p> </ion-item>
    <ion-item>Moyenne des notes données <p> 4.2/5</p> </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
     Mes Itineraires
    </ion-list-header>
    <ion-item>Nombre de parcours générés <p> 100</p> </ion-item>
    <ion-item>Moyenne de km parcourus  </ion-item>
    <ion-item>Moyenne de temps parcourus  </ion-item>

  </ion-list>

</ion-content>
