page-report {

  .bottom_button {
    margin-top: 10%;
    width: 100px;
    bottom: 20px;
    margin-top: 70%;
  }

  #cancelbtn{
    border-color:grey;
    background-color: ghostwhite;
    border: 0.5px solid #808080;
  }

}
