<ion-header>
  <ion-navbar color = "primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{globals.langue.validerPoint}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="!pointAValider">
  <p margin-left="5%" padding-top="50%" float="center"> Pas de point d'intérêt à valider. Repassez plus tard !</p>
</ion-content>

<ion-content *ngIf="pointAValider">
  <div class="marge">
    <h3>{{poi?.title}}</h3>

    <div>
        <img width="50%" height="auto" margin-top="3%" class="photo" src={{poi?.picture}}>

        <p id="categories"> <strong>Catégorie(s):</strong>
          <li margin-left="2px" *ngFor="let cat of poi?.categories">{{cat.categoryName}}</li>
        </p>
    </div>
    <p id="descriptiont"> <strong>{{globals.langue.description}}:</strong></p>
    <p id="description">{{poi?.description}}</p>

    <button id="poucerouge" ion-button round icon-only color="danger" (click)="vote_Non()" >
          <ion-icon name="thumbs-down"></ion-icon>
          <p style="margin-right: 10px">Pas original</p>
    </button>


    <button id ="poucevert" ion-button round icon-only color ="secondary" (click)="vote_Oui()">
          <ion-icon name="thumbs-up"></ion-icon>
          <p style="margin-right: 10px">Original</p>
    </button>
  </div>
</ion-content>

