page-validerPoint {

    .label {
        font-size: 1.35rem;
        margin-bottom: 7%;
    }

    .marge {
        margin-left:5%;
        margin-right: 3%;
    }

    #categories {
        float: right;
        margin-right: 5%;
        margin-top: 5%;
        border-style: solid;
        border-width: 1px;
        padding: 10px 10px 10px 10px;
        height: 100%;
    }

    .itemliste {
        margin-left:15%;
        margin-top:7%;
    }

    #poucevert {
        margin-right: 5px;
    }

    #poucerouge {
      margin-left:5px;
    }

  .sousboutonrouge{
    float:left;
    left:40px;
    margin-top: 5px;
  }

  .sousboutonvert{
    float:right;
    left:40px;
    margin-top: 5px;
  }


    h3 {
        text-align: center;
    }
}
