page-parcours{

  .bottom_button {
    display: block;
    width: 80%;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  #form{
    margin-bottom: 5%;
  }

  .my-class{
    margin-top: 15px;
  }
  .my-label {
    font-size: 1.4rem;
  }
}
